/* src/pages/CadastroPage.css */
.cadastro-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px); /* Ajuste a altura para considerar o Navbar */
}

.cadastro-form-container {
  background-color: #1a1a2e; /* Um tom um pouco mais claro que o fundo */
  padding: 2rem;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.cadastro-title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.cadastro-subtitle {
  color: #b0b0b0;
  margin-bottom: 1.5rem;
}

.cadastro-form .form-group {
  text-align: left;
  margin-bottom: 1rem;
}

.cadastro-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.cadastro-form input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #2a2a44;
  color: #fff;
}

.cadastro-button {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to right, #8a2be2, #4b0082);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}

.login-link {
  margin-top: 1.5rem;
  color: #b0b0b0;
}

.login-link a {
  color: #8a2be2;
  text-decoration: none;
}